
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    h1, p{
        font-family: "Montserrat Alternates", sans-serif;
    }

    p {
        margin-bottom: 30px;
        font-size: 18px;
    }
    
    .y {
        display: none;
    }

    h1 {
        margin-top: -200px;
        font-size: 30px;
    }

     #canvas {
        width: 486px;
        height: 380px;
        border-radius: 20px;
        margin-bottom: 10px;
    }

    #label-container {
        font-family: 'Inter';
        font-weight: 500;
        font-size: 20px;
        margin-left: 5px;
    }

    .holder {
        margin-top: 30px;
    }

    .hero {
        width: 100vw;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    
    .left {
        width: 50%;
        height: 100%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 70px;
        margin-top: -100px;

    }
    
    .right {
        width: 50%;
        height: 100%;
        float: right;
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
    }

    .logo {
        position: absolute;
        background-image: url(logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        top: 25px;
        left: 85px;
        width: 134px;
        height: 86px;
    }
    
    .end-btn {
        width: 300px;
        height: 70px;
        font-family: 'Inter';
        font-weight: 500;
        font-size: 20px;
        border-radius: 300px;
        border: 3px solid #4A464F;
        background-color: #4A464F;
        color: white;
        transition: 300ms;
        margin-top: 70px;
    }

    .end-btn:hover {
        width: 300px;
        height: 70px;
        font-family: 'Inter';
        font-weight: 500;
        font-size: 20px;
        border-radius: 300px;
        border: 3px solid #4A464F;
        background-color: white;
        color: #4A464F;
        cursor: pointer;
    }

    /* D3 */
.viz {
    width: 90vw;
    height: auto;
    max-width: 850px;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    background: hsl(0, 0%, 100%);
    line-height: 2;
}
.viz header h1 {
  font-family: "Montserrat Alternates", sans-serif;
}
/* highlight the label with a thin border */
.viz label {
  border-bottom: 1px solid currentColor;
}
/* style the text in the ticks and the two labels specifically */
.viz svg text {
  font-size: 0.7rem;
  font-family: inherit;
  fill: currentColor;
}
.viz svg text.label {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  opacity: 0.5;
}
/* style the tooltip to describe the description elements indented with respect to the matching term */
.viz #tooltip {
  background: hsl(0, 0%, 100%);
  box-shadow: 0 1px 5px -2px hsla(20, 3%, 22%, 0.5);
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  line-height: 1.5;
}
.viz #tooltip p {
  margin-bottom: 0.75rem;
  font-size: 0.95rem;
  border-bottom: 1px solid currentColor;
}
.viz #tooltip dl {
  font-size: 0.9rem;
}
.viz #tooltip dl dt {
  font-weight: bold;
}
.viz #tooltip dl dd {
  margin-left: 1.25rem;
}
  
.axis text {
    font: 10px sans-serif;
  }
  .chartTitle {
    font-size: 12px;
    font-weight: bold;
    text-anchor: middle; 
  }
  .axis .title {
    font-weight: bold;
    text-anchor: middle;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  .x.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  .nav .area {
    fill: lightgrey;
    stroke-width: 0px;
  }
  .nav .line {
    fill: none;
    stroke: darkgrey;
    stroke-width: 1px;
  }
  .viewport {
    stroke: grey;
    fill: black;
    fill-opacity: 0.3;
  }
  .viewport .extent {
    fill: green;
  }
  .well {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  